<section id="data">
    <div class="row">
      <div class="small-centered small-8 columns">
        <h1 class="text-center">Movie Rating in Different Culture</h1>
        <h5>by Sean Lee and Zoo Yuan</h5>
      </div>
    </div>

    <div class="row">
      <div class="small-centered small-8 columns">
        <h2>Background <small>ratings in different culture</small></h2>
        <p>
          There are many movie rating site on the Internet. While <u>IMDb</u> represents the taste of international/us audience, <u>Douban</u> represents the Chinese audience. Often we found that the rating of the same movie in the two sites can be very diferent. So we got all the movies info with more than 4000 ratings in both site to do some analysis (The data is snapshoted at Oct 2013). Here's what we got!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="small-centered small-8 columns">
        <h2>Top Diff 10 </h2>

        <h3> douban < IMDb </h3>
        <table>
          <thead>
            <tr>
              <th>title</th>
              <th>year</th>
              <th>douban(counts)</th>
              <th>IMDb(counts)</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="movie in movies| orderBy: diff | limitTo: 10 ">
               <td data-title="title">{{movie.douban_title}}</td>
               <td>{{movie.movie_year}}</td>
               <td>
                 <a ng-href="http://movie.douban.com/subject/{{movie.douban_id}}/">
                   {{movie.douban_rating}}
                 </a>
                   ({{movie.douban_ratings_count}})
               </td>
               <td>
                 <a ng-href="http://www.imdb.com/title/{{movie.imdb_id}}/">
                   {{movie.imdb_rating}}
                 </a>
                 ({{movie.ratings_count}})
               </td>
             </tr>
           </tbody>
        </table>

        <h3> douban > IMDb </h3>
        <table>
          <thead>
            <tr>
              <th>title</th>
              <th>year</th>
              <th>douban(counts)</th>
              <th>IMDb(counts)</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="movie in movies| orderBy: diffReverse | limitTo: 10 ">
               <td data-title="title">{{movie.douban_title}}</td>
               <td>{{movie.movie_year}}</td>
               <td>
                 <a ng-href="http://movie.douban.com/subject/{{movie.douban_id}}/">
                   {{movie.douban_rating}}
                 </a>
                   ({{movie.douban_ratings_count}})
               </td>
               <td>
                 <a ng-href="http://www.imdb.com/title/{{movie.imdb_id}}/">
                   {{movie.imdb_rating}}
                 </a>
                 ({{movie.ratings_count}})
               </td>
             </tr>
           </tbody>
        </table>
      </div>
    </div>
</section>
