<section id="data">
    <div class="row">
      <div class="small-centered small-8 columns">
        <h1 class="text-center">Top Diff 30</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-centered small-8 columns">
        <table>
          <thead>
            <tr>
              <th width="300">title</th>
              <th>year</th>
              <th>douban(counts)</th>
              <th>IMDb(counts)</th>
            </tr>
          </thead>
           <tbody>
             <tr ng-repeat="movie in movies| orderBy: diffAbs | limitTo: 30 ">
               <td>{{movie.movie_title}}</td>
               <td>{{movie.movie_year}}</td>
               <td>{{movie.douban_rating}} ({{movie.douban_ratings_count}})</td>
               <td>{{movie.imdb_rating}} ({{movie.ratings_count}})</td>
             </tr>
           </tbody>
        </table>
      </div>
    </div>
</section>
