<section id="data">
    <div class="row">
      <div class="small-centered small-8 columns">
        <h1 class="text-center">info</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-centered small-8 columns">
        <table>
          <thead>
            <tr>
              <th width="300">title</th>
              <th>year</th>
              <th>douban</th>
              <th>IMDb</th>
            </tr>
          </thead>
           <tbody>
             <tr ng-repeat="movie in movies| orderBy: diffAbs | limitTo: 20 ">
               <td>{{movie.movie_title}}</td>
               <td>{{movie.movie_year}}</td>
               <td>{{movie.douban_rating}}</td>
               <td>{{movie.imdb_rating}}</td>
             </tr>
           </tbody>
        </table>
      </div>
    </div>
</section>
